<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/page-icon.png">
</head>

<body>
    {{>header}}
    <p>{{error}}</p>
    {{>footer}}
</body>

</html>