<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/page-icon.png">
</head>

<body>
    {{>header}}
    <p>{{title}}</p>
    <p>{{error}}</p>
    {{>footer}}
</body>

</html>